name: .NET

on:
  push:
    branches:
      - main
  pull_request:
jobs:
  build:
    runs-on: windows-latest
    name: "Build"
    env:
      NUGET_PACKAGES: ${{ github.workspace }}/.nuget/packages
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: false
      - uses: actions/setup-dotnet@v5
        with:
          dotnet-version: "9.0.x"
          cache: false

      - name: Cache NuGet packages
        uses: actions/cache@v5.0.1
        with:
          path: ${{ env.NUGET_PACKAGES }}
          key: nuget-${{ runner.os }}-${{ hashFiles('**/*.csproj') }}
          restore-keys: |
            nuget-${{ runner.os }}-

      - name: Restore
        run: dotnet restore /p:Configuration=Release-win

      - name: Build
        run: dotnet build --configuration Release-win --no-restore

      - name: Publish
        run: dotnet publish '${{ runner.workspace }}/Smithbox/src/Smithbox/Smithbox.csproj' --configuration Release-win -o deploy

      - name: Upload artifacts
        uses: actions/upload-artifact@v6
        with:
          name: "Smithbox-SHA${{ github.sha }}"
          path: "${{ runner.workspace }}/Smithbox/deploy"
